/*
QueryKey Cases API

API including QKey negotiation, version history, API keys (scopes, rotation, soft revoke), usage metering, billing stubs, plan gating, and login lockout mechanics.

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package qkeycases

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// AgentsAPIService AgentsAPI service
type AgentsAPIService service

type ApiApiV1AgentsIdInviteCancelPostRequest struct {
	ctx context.Context
	ApiService *AgentsAPIService
	id string
	apiV1AgentsIdInviteCancelPostRequest *ApiV1AgentsIdInviteCancelPostRequest
}

func (r ApiApiV1AgentsIdInviteCancelPostRequest) ApiV1AgentsIdInviteCancelPostRequest(apiV1AgentsIdInviteCancelPostRequest ApiV1AgentsIdInviteCancelPostRequest) ApiApiV1AgentsIdInviteCancelPostRequest {
	r.apiV1AgentsIdInviteCancelPostRequest = &apiV1AgentsIdInviteCancelPostRequest
	return r
}

func (r ApiApiV1AgentsIdInviteCancelPostRequest) Execute() (*AgentInviteCancelResponse, *http.Response, error) {
	return r.ApiService.ApiV1AgentsIdInviteCancelPostExecute(r)
}

/*
ApiV1AgentsIdInviteCancelPost Cancel a pending agent invite

Privileged operators or the invite recipient can cancel a pending invite, freeing the seat and recording the reason in metadata and trust telemetry.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiApiV1AgentsIdInviteCancelPostRequest
*/
func (a *AgentsAPIService) ApiV1AgentsIdInviteCancelPost(ctx context.Context, id string) ApiApiV1AgentsIdInviteCancelPostRequest {
	return ApiApiV1AgentsIdInviteCancelPostRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return AgentInviteCancelResponse
func (a *AgentsAPIService) ApiV1AgentsIdInviteCancelPostExecute(r ApiApiV1AgentsIdInviteCancelPostRequest) (*AgentInviteCancelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AgentInviteCancelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentsAPIService.ApiV1AgentsIdInviteCancelPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/agents/{id}/invite/cancel"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.apiV1AgentsIdInviteCancelPostRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV1AgentsIdInviteResendPostRequest struct {
	ctx context.Context
	ApiService *AgentsAPIService
	id string
}

func (r ApiApiV1AgentsIdInviteResendPostRequest) Execute() (*AgentInviteResendResponse, *http.Response, error) {
	return r.ApiService.ApiV1AgentsIdInviteResendPostExecute(r)
}

/*
ApiV1AgentsIdInviteResendPost Resend a pending agent invite

Privileged operators or the invite recipient can regenerate the invite token, extend expiry, and trigger the invite email delivery.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiApiV1AgentsIdInviteResendPostRequest
*/
func (a *AgentsAPIService) ApiV1AgentsIdInviteResendPost(ctx context.Context, id string) ApiApiV1AgentsIdInviteResendPostRequest {
	return ApiApiV1AgentsIdInviteResendPostRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return AgentInviteResendResponse
func (a *AgentsAPIService) ApiV1AgentsIdInviteResendPostExecute(r ApiApiV1AgentsIdInviteResendPostRequest) (*AgentInviteResendResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AgentInviteResendResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentsAPIService.ApiV1AgentsIdInviteResendPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/agents/{id}/invite/resend"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV1AgentsIdRevokePostRequest struct {
	ctx context.Context
	ApiService *AgentsAPIService
	id string
	apiV1AgentsIdRevokePostRequest *ApiV1AgentsIdRevokePostRequest
}

func (r ApiApiV1AgentsIdRevokePostRequest) ApiV1AgentsIdRevokePostRequest(apiV1AgentsIdRevokePostRequest ApiV1AgentsIdRevokePostRequest) ApiApiV1AgentsIdRevokePostRequest {
	r.apiV1AgentsIdRevokePostRequest = &apiV1AgentsIdRevokePostRequest
	return r
}

func (r ApiApiV1AgentsIdRevokePostRequest) Execute() (*AgentRevokeResponse, *http.Response, error) {
	return r.ApiService.ApiV1AgentsIdRevokePostExecute(r)
}

/*
ApiV1AgentsIdRevokePost Revoke a registered agent

Owner accounts or administrators revoke an agent identity, reclaiming the seat and revoking the associated API key.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiApiV1AgentsIdRevokePostRequest
*/
func (a *AgentsAPIService) ApiV1AgentsIdRevokePost(ctx context.Context, id string) ApiApiV1AgentsIdRevokePostRequest {
	return ApiApiV1AgentsIdRevokePostRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return AgentRevokeResponse
func (a *AgentsAPIService) ApiV1AgentsIdRevokePostExecute(r ApiApiV1AgentsIdRevokePostRequest) (*AgentRevokeResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AgentRevokeResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentsAPIService.ApiV1AgentsIdRevokePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/agents/{id}/revoke"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.apiV1AgentsIdRevokePostRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV1AgentsPendingGetRequest struct {
	ctx context.Context
	ApiService *AgentsAPIService
	includeExpired *bool
	email *string
	limit *int32
	offset *int32
}

// Include invites that have already expired.
func (r ApiApiV1AgentsPendingGetRequest) IncludeExpired(includeExpired bool) ApiApiV1AgentsPendingGetRequest {
	r.includeExpired = &includeExpired
	return r
}

// Restrict results to the provided invite email.
func (r ApiApiV1AgentsPendingGetRequest) Email(email string) ApiApiV1AgentsPendingGetRequest {
	r.email = &email
	return r
}

// Page size (defaults to 50).
func (r ApiApiV1AgentsPendingGetRequest) Limit(limit int32) ApiApiV1AgentsPendingGetRequest {
	r.limit = &limit
	return r
}

// Offset into the pending invite list.
func (r ApiApiV1AgentsPendingGetRequest) Offset(offset int32) ApiApiV1AgentsPendingGetRequest {
	r.offset = &offset
	return r
}

func (r ApiApiV1AgentsPendingGetRequest) Execute() (*PendingAgentInvitesResponse, *http.Response, error) {
	return r.ApiService.ApiV1AgentsPendingGetExecute(r)
}

/*
ApiV1AgentsPendingGet List pending agent invites

Operators or invite recipients list pending owner-bound agent invitations with optional filters for email, pagination, and expiry state.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1AgentsPendingGetRequest
*/
func (a *AgentsAPIService) ApiV1AgentsPendingGet(ctx context.Context) ApiApiV1AgentsPendingGetRequest {
	return ApiApiV1AgentsPendingGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PendingAgentInvitesResponse
func (a *AgentsAPIService) ApiV1AgentsPendingGetExecute(r ApiApiV1AgentsPendingGetRequest) (*PendingAgentInvitesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PendingAgentInvitesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentsAPIService.ApiV1AgentsPendingGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/agents/pending"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.includeExpired != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_expired", r.includeExpired, "form", "")
	} else {
        var defaultValue bool = true
        parameterAddToHeaderOrQuery(localVarQueryParams, "include_expired", defaultValue, "form", "")
        r.includeExpired = &defaultValue
	}
	if r.email != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "email", r.email, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV1RegistrationAgentPostRequest struct {
	ctx context.Context
	ApiService *AgentsAPIService
	agentRegistrationRequest *AgentRegistrationRequest
}

func (r ApiApiV1RegistrationAgentPostRequest) AgentRegistrationRequest(agentRegistrationRequest AgentRegistrationRequest) ApiApiV1RegistrationAgentPostRequest {
	r.agentRegistrationRequest = &agentRegistrationRequest
	return r
}

func (r ApiApiV1RegistrationAgentPostRequest) Execute() (*AgentRegistrationResponse, *http.Response, error) {
	return r.ApiService.ApiV1RegistrationAgentPostExecute(r)
}

/*
ApiV1RegistrationAgentPost Validate PoW solution and register new agent

Completes the Proof-of-Work onboarding flow. Authenticated owners receive an agent key immediately when capacity allows; unauthenticated callers provide owner contact info and trigger an invite email for later confirmation.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1RegistrationAgentPostRequest
*/
func (a *AgentsAPIService) ApiV1RegistrationAgentPost(ctx context.Context) ApiApiV1RegistrationAgentPostRequest {
	return ApiApiV1RegistrationAgentPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AgentRegistrationResponse
func (a *AgentsAPIService) ApiV1RegistrationAgentPostExecute(r ApiApiV1RegistrationAgentPostRequest) (*AgentRegistrationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AgentRegistrationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentsAPIService.ApiV1RegistrationAgentPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/registration/agent"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.agentRegistrationRequest == nil {
		return localVarReturnValue, nil, reportError("agentRegistrationRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.agentRegistrationRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV1RegistrationChallengeGetRequest struct {
	ctx context.Context
	ApiService *AgentsAPIService
	difficulty *int32
	invite *bool
}

// Optional difficulty override; final difficulty may be clamped by the server
func (r ApiApiV1RegistrationChallengeGetRequest) Difficulty(difficulty int32) ApiApiV1RegistrationChallengeGetRequest {
	r.difficulty = &difficulty
	return r
}

// Set to true when requesting a challenge for invite-based onboarding without an authenticated owner session
func (r ApiApiV1RegistrationChallengeGetRequest) Invite(invite bool) ApiApiV1RegistrationChallengeGetRequest {
	r.invite = &invite
	return r
}

func (r ApiApiV1RegistrationChallengeGetRequest) Execute() (*AgentChallenge, *http.Response, error) {
	return r.ApiService.ApiV1RegistrationChallengeGetExecute(r)
}

/*
ApiV1RegistrationChallengeGet Issue Proof-of-Work challenge for agent registration

Issue a short-lived challenge used to prove computational work before registering a new agent identity. Authenticated owners receive challenges tied to their account; unauthenticated callers must pass invite=true to initiate the email invite flow.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1RegistrationChallengeGetRequest
*/
func (a *AgentsAPIService) ApiV1RegistrationChallengeGet(ctx context.Context) ApiApiV1RegistrationChallengeGetRequest {
	return ApiApiV1RegistrationChallengeGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AgentChallenge
func (a *AgentsAPIService) ApiV1RegistrationChallengeGetExecute(r ApiApiV1RegistrationChallengeGetRequest) (*AgentChallenge, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AgentChallenge
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentsAPIService.ApiV1RegistrationChallengeGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/registration/challenge"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.difficulty != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "difficulty", r.difficulty, "form", "")
	}
	if r.invite != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "invite", r.invite, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV1RegistrationDelegatedTokenPostRequest struct {
	ctx context.Context
	ApiService *AgentsAPIService
	delegatedTokenRequest *DelegatedTokenRequest
}

func (r ApiApiV1RegistrationDelegatedTokenPostRequest) DelegatedTokenRequest(delegatedTokenRequest DelegatedTokenRequest) ApiApiV1RegistrationDelegatedTokenPostRequest {
	r.delegatedTokenRequest = &delegatedTokenRequest
	return r
}

func (r ApiApiV1RegistrationDelegatedTokenPostRequest) Execute() (*DelegatedTokenResponse, *http.Response, error) {
	return r.ApiService.ApiV1RegistrationDelegatedTokenPostExecute(r)
}

/*
ApiV1RegistrationDelegatedTokenPost Issue single-use delegated registration token

Authenticated owners can mint a short-lived delegated token that authorizes a CI/CD workflow to register an agent on their behalf.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1RegistrationDelegatedTokenPostRequest
*/
func (a *AgentsAPIService) ApiV1RegistrationDelegatedTokenPost(ctx context.Context) ApiApiV1RegistrationDelegatedTokenPostRequest {
	return ApiApiV1RegistrationDelegatedTokenPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DelegatedTokenResponse
func (a *AgentsAPIService) ApiV1RegistrationDelegatedTokenPostExecute(r ApiApiV1RegistrationDelegatedTokenPostRequest) (*DelegatedTokenResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DelegatedTokenResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentsAPIService.ApiV1RegistrationDelegatedTokenPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/registration/delegated-token"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.delegatedTokenRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV1RegistrationInviteConfirmPostRequest struct {
	ctx context.Context
	ApiService *AgentsAPIService
	agentInviteConfirmationRequest *AgentInviteConfirmationRequest
}

func (r ApiApiV1RegistrationInviteConfirmPostRequest) AgentInviteConfirmationRequest(agentInviteConfirmationRequest AgentInviteConfirmationRequest) ApiApiV1RegistrationInviteConfirmPostRequest {
	r.agentInviteConfirmationRequest = &agentInviteConfirmationRequest
	return r
}

func (r ApiApiV1RegistrationInviteConfirmPostRequest) Execute() (*AgentRegistrationActiveResponse, *http.Response, error) {
	return r.ApiService.ApiV1RegistrationInviteConfirmPostExecute(r)
}

/*
ApiV1RegistrationInviteConfirmPost Confirm an agent invite and activate ownership

Owners confirm invite tokens delivered via email, binding the pending agent to their account and provisioning credentials.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1RegistrationInviteConfirmPostRequest
*/
func (a *AgentsAPIService) ApiV1RegistrationInviteConfirmPost(ctx context.Context) ApiApiV1RegistrationInviteConfirmPostRequest {
	return ApiApiV1RegistrationInviteConfirmPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AgentRegistrationActiveResponse
func (a *AgentsAPIService) ApiV1RegistrationInviteConfirmPostExecute(r ApiApiV1RegistrationInviteConfirmPostRequest) (*AgentRegistrationActiveResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AgentRegistrationActiveResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AgentsAPIService.ApiV1RegistrationInviteConfirmPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/registration/invite/confirm"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.agentInviteConfirmationRequest == nil {
		return localVarReturnValue, nil, reportError("agentInviteConfirmationRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.agentInviteConfirmationRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
